#whoweare-box{
    float: left;
    width: 100%;
    height: 558px;
}

#icons-bg {
    margin-left: 267px;
    margin-right: 347%;
    margin-top: -264px;
}

#whoweare-text {
    margin-top: -190px;
    margin-left: 748px;
    margin-bottom: 48px;
}

#whoweare-text h3{
    font-family: $primary-font;
    font-size: 30px;
    color: $white-text;
    font-weight: bold;
    text-transform: uppercase;
}

#whoweare-description {
    position: relative;
    width: 540px;
    margin-left: 748px;
}

#whoweare-description p{
    font-family: $primary-font;
    font-size: 10px;
    color: $white-text;
    font-weight: normal;
}
