#bg-beach {
    float: left;
}

#icons-bg {
    margin-left: 267px;
    margin-right: 264px;
    margin-top: -264px;
}

#whoweare-text {
    margin-top: -190px;
    margin-left: 748px;
    margin-bottom: 48px;
}

#whoweare-text h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #feffff;
    font-weight: bold;
    text-transform: uppercase;
}

#whoweare-description {
    width: 540px;
    margin-left: 748px;
}

#whoweare-description p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #feffff;
    font-weight: normal;
}
